
@font-face{
    font-family: "LeavesAndGround";
     src: url(../font/Aerwyna-Regular.eot);
     src: url(../font/Aerwyna-Regular.svg);
     src: url(../font/Aerwyna-Regular.ttf);
     src: url(../font/Aerwyna-Regular.woff);     
     src: url(../font/Aerwyna-Regular.woff2);
}